
#Card-Anemo, #Card-Electro, #Card-Pyro{
    background-color: rgba(170, 176, 191, 0.712) ;
    padding: 2px;
    border: 2px solid black;
    border-radius: 15px;   
    list-style-position: inside;
}
#Card-Container{
width: 100%;
margin-top: 100px ;
}
 