*{
margin: 0px;
padding: 0px;
}

body{
background-image: url("../IMG/genshin_background.jpg");
background-repeat: no-repeat;
background-position: fixed;
background-size: 100%;

overflow-x: hidden !important;;
}

main{
    margin-top: 70px;
    min-height: calc(100vh - 220px);
}

