
main{
    background-color: rgba(81, 81, 255, 0.726);
    margin-top: 70px !important;
    margin-bottom: 15px;
    padding: 15px;
}

img{
    border: 3px solid black;
    border-radius: 10%;
    height: auto;
    padding-bottom: 2px;
}

img:hover {
    background-color: rgba(0, 0, 0, 0.50);
    transition: 0.75s;
}

#imageContainer{
    position: relative;
    margin-bottom: 5px;
}

#Nom{
    background-color: rgba(87, 87, 87, 0.342);
    color: white !important;
        position: absolute;
        top: 8px;
        left: 20px; 
}

#Type{
    background-color: rgba(87, 87, 87, 0.342);
    color: white;
        position: absolute;
        bottom: 0px;
        left:140px; 
}


