
main{
    background-color: rgba(81, 81, 255, 0.726);
    margin-top: 100px !important;
    margin-bottom: 15px;
    padding: 15px;
}

img{
    border: 3px solid black;
    border-radius: 10%;

}

#imageContainer{
    position: relative;
}

#Nom{
    background-color: rgba(87, 87, 87, 0.342);
        position: absolute;
        top: 8px;
        left: 20px; 
}

#Type{
    background-color: rgba(87, 87, 87, 0.342);
        position: absolute;
        bottom: 1px;
        left: 20px; 
}