@using Exercise_1.Models
@model List<Pokemon>

@{
    Layout = "_Layout";
}

<h1 class="mb-5"> Liste Pokemon </h1>
<a href="pokemon/consulter/1">
<div class="pokemon">
    <img src="/images/1.png" alt="Image du Pokemon" /> <br />
    Bulbasaur
</div>   
</a>
