@charset "UTF-8";
body{
    font-family: "Comic Sans MS";
    background-color: rgb(255, 201, 22);
    
}

i{
    color: rebeccapurple;
    size: 3em;
}

div {
    display: flex;
    justify-content: space-around;
}

